@charset "UTF-8";

#boardListBox{
	margin: 3rem auto;
	text-align: center;
	border: 1px solid #dddddd;
	width: 500px;
}

#boardWriteBox{
	margin: 3rem auto;
	text-align: center;
	border: 1px solid #dddddd;
	width: 500px;
}

#boardViewBox{
	margin: 3rem auto;
	text-align: center;
	border: 1px solid #dddddd;
	width: 500px;
}

td{
	border-bottom: 1px solid #dddddd;
	border-top: 1px solid #dddddd;
}