@charset "UTF-8";

section div:nth-child(1) {
	padding-top:1rem;
	margin: 0 auto;
}

#boardListBox{
	margin: 3rem auto;
	text-align: center;
	border: 1px solid #dddddd;
	width: 60%;
}

#boardWriteBox{
	margin: 3rem auto;
	text-align: center;
	border: 1px solid #dddddd;
	width: 60%;
}

#boardViewBox{
	margin: 3rem auto;
	text-align: center;
	border: 1px solid #dddddd;
	width: 60%;
}

td{
	border-bottom: 1px solid #dddddd;
	border-top: 1px solid #dddddd;
}

textarea {
	resize: none;
}

/* 삭제 아이콘 사이즈 */
.bi-file-earmark-x {
	font-size:2rem;
}

.attachDownLoad:hover {
	cursor: pointer;
	text-decoration: underline;
}

@media screen and (max-width:820px) {
	
	#boardListBox{
		width:98%;
	}
	
	#boardWriteBox{
		width:98%;
	}
	
	#boardViewBox{
		width:98%;
	}
}