@charset "UTF-8";

#flexBox{
	display:flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

#boardBox{
	width: 45%;
    height: auto;
    padding: 20px;
    border: 1px solid lightblue;
    margin-top: 15px;
    margin-left: 15px;
    display: inline-block;
}

#menuBox{
    width: 46%;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 1px solid lightblue;
    margin-top: 15px;
    margin-left: 15px;
    color: black;
    font-weight: bold;
}

/* IE10+ */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	#menuBox {
		justify-content: flex-start;
	}
}

#menu1,#menu2,#menu3,#menu4{
	border: 1px solid lightblue;
	flex: initial;
    width: 150px;
    height: 300px;
    margin: 1rem auto;
    cursor: pointer;
}

/* a{
	margin: 1rem auto;
	text-decoration: none;
	color: black;
} */
	
#menu1{
	background-image: url("../images/진료.jpg");
    background-size : 100% 100%;
    text-align: center;
    padding-top: 270px;
}

#menu2{
	background-image: url("../images/진료대기.jpg");
    background-size : 100% 100%;
    text-align: center;
    padding-top: 270px;
}

#menu3{
	background-image: url("../images/병원소개.jpg");
    background-size : 100% 100%;
    text-align: center;
    padding-top: 270px;
}

#menu4{
	background-image: url("../images/공지사항.jpg");
    background-size : 100% 100%;
    text-align: center;
    padding-top: 270px;
}

	
@media all and (max-width:1719px) {
	#boardBox{
		width: 97%;
	}
	#menuBox{
		width: 97%;
	}
}

/* 큰 핸드폰 화면 사이즈 대응 */
@media all and (max-width: 768px) {
	#menuBox{
		flex-direction: column;
		justify-content: center;
		align-content: space-around;
	}
	
	#menu1,#menu2,#menu3,#menu4{
		text-align:center;
		width: 300px;
	}
}