@charset "UTF-8";

/* #contentWrap {
	padding-top: 85px;
} */

/* 좌측 메뉴바 관련 스타일 */
aside {
	width: 100%;
	float: left;
    background-color: #00B4DB;
    padding: 2rem;
    /* margin-right: 5rem; */
}

aside ul {
    list-style: none;
    line-height: 5rem;
}

aside li {
	 margin: 0.5rem auto;
	 transition: all 0.5s;
}

aside a {
    text-decoration: none;
   	padding: 2rem;
    color: white;
}

asdie a:hover {
	color: white;
}

aside li:hover {
	transition: all 0.5s;
    background-color: #00D8FF;
}

/* section 영역 스타일(오른쪽) */
.contentPageZone {
	float: left;
	position: relative;
}

.contentPageZone > h2 {
	margin: 0.5rem;
}


/* seciton {
    float: right;
    padding-top: 5rem;
}

section h2 {
	margin: 0.5rem;
} */

/* section table {
    margin: 10rem auto;
    border-collapse: collapse;
}

section table tr,td,th {
    border: 0.1rem solid lightblue;
    padding: 1rem;
 }
 */
 
 /* 회원수정테이블 스타일 */
#memberTable{
	margin-top: 1rem;
	width: 70%; 
}

/* 회원수정 제목 */
#memberTable tr:nth-child(1) th:nth-child(1){
	text-align: center;
}
 
#mypageMainView {
	text-align: center;
}

#mypageMainView img{
    width: 20rem;
    height: 10rem;
}

#mypageMainView > h2 {
	text-align: center;
}

/* 
section input[type="submit"], input[type="button"] {
	padding: 0.5rem;
}

section input[type="text"], input[type="password"] {
	padding:0.5rem;
} */

footer {
    clear: both;
}

.boldFont {
	font-size: 2rem;
	font-weight: bold;
}

/* 최소 크기 857px */
@media screen and (min-width: 857px) {
    aside {
        width: auto;
    }

    #mypageMainView img{
        width: 40%;
        height: 30rem;
    }
    
    .contentPageZone h2 {
		margin: 1.2rem;
	}
}