@charset "UTF-8";

#treatmentListBox{
	width: 900px;
	border: 1px black;
	background-color: lightblue;
	padding: 20px;
	margin: 0 auto;
	margin-top: 108px;
	border-radius: 5px;
	height: auto;
}

#treatment{
	width: 700px;
}

li{
	display: inline;
}



#treatment_date, #name, #speciality_name2, #doctor_name{
	border: 1px solid white;
	padding: 10px;
	margin: 25px;
}

#treatment_date{
	    background-color: lightyellow;
}

#speciality_name2{
	background-color: lightyellow;
}

#name{
	background-color: white;
}

#doctor_name{
	background-color: white;
}
