@charset "UTF-8";
/*------header 스타일 시작--------------------*/
#headerMenu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333;
    height: 10rem; /*height: 100px;*/
}

#headerMenu:after{
    content:'';
    display: block;
    clear:both;
}

#headerMenu li {
    float: right; /* 정렬을 오른쪽으로 */
    padding-top: 2.5rem; /*padding-top: 25px;*/
}

#headerMenu li.logo{
    float: left;
    padding-top: 1.2rem;	/*padding-top: 12px;*/
    width: 5rem;
    height: 5rem;
}

#headerMenu li a {
    display: block;
    color: white; /*글자색을 흰색으로*/
    text-align: center; /*글자를 가운대 정렬*/
    padding: 1.4rem 1.6rem;	/*padding: 14px 16px;*/
    text-decoration: none; /*밑줄제거*/
}

#headerMenu li a:hover:not(.active) { /* 커서가 없을 때 배경색 */
    background-color: #111;
}

#headerMenu .active { /* 커서가 있을 때 배경색 */
    background-color: #4CAF50;
}
/*------header 스타일 끝--------------------*/