@charset "UTF-8";

/* ------form 박스 스타일 시작---- */
#loginForm h2{
    margin-top: 1rem;
    text-align: center;
}

#loginForm .FormBox {
    /*border-collapse: collapse;*/
    margin: 1rem auto;
    max-width: 60%;
    display: flex;
    flex-wrap: wrap;
    border: 0.1rem solid lightblue;
    padding: 1rem;
    justify-content: center;
}
#loginForm .FormBox .loginItem:nth-child(odd) {
    width: 30%;
    text-align: center;
    font-size: 2rem;
}

#loginForm .FormBox .loginItem:nth-child(even) {
    width: 70%;
}

#loginForm .FormBox .loginItem input {
    width: inherit;
    height: inherit;
}

#loginForm .FormBox .loginButton {

}
/* ------form 박스 스타일 끝---- */